/* 英文用本机 Arial；中文用插件内嵌的 Noto Sans SC（OFL，见 LICENSE.txt）。 */
@font-face {
  font-family: "App UI";
  src: local("Arial");
  unicode-range: U+0000-024F, U+1E00-1EFF, U+2000-206F, U+20A0-20CF, U+2100-214F;
}

@font-face {
  font-family: "App UI";
  src: url("./NotoSansSC-Regular.woff2") format("woff2");
  font-weight: 100 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+2E80-2FFF, U+3000-303F, U+3040-30FF, U+31C0-31EF, U+3400-4DBF, U+4E00-9FFF, U+F900-FAFF, U+FF00-FFEF;
}

@font-face {
  font-family: "App UI";
  src: url("./NotoSansSC-SemiBold.woff2") format("woff2");
  font-weight: 600 900;
  font-style: normal;
  font-display: swap;
  unicode-range: U+2E80-2FFF, U+3000-303F, U+3040-30FF, U+31C0-31EF, U+3400-4DBF, U+4E00-9FFF, U+F900-FAFF, U+FF00-FFEF;
}
